@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
        <h2>Distribution of words</h2>
        <p>As it's been observed by mathmatical statistics - a bizarre pattern emerges when ordering the words of a given text by their number of occurances. If there's a big enough sample size the number of occurances of a given word is proportional to the occurances of the most commont word, multiplied by one over its rank.
            Let <i>k</i> be equal to the most common word's occurances and <i>n</i> be the rank of the word's whose occurances we want to find. Then occurances of word with rank n is approximetely k/n
        </p>
        
    </div>
    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
        <h2>An amazing video by VSause about Zipf's Law.</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fCn8zs912OE" frameborder="0" allowfullscreen></iframe>
        </div>
        <p>
            He makes near-perfect educational videos so go check him out at <a href="https://www.youtube.com/channel/UC6nSFpj9HTCZ5t-N3Rm3-HA">VSauce on Youtube</a>
        </p>
    </div>
</div>

<p></p>
