@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!---->
    <h1>What really is Zipf's Law?</h1>
    <p>The law states that there is a relationship between the frequency a given word is used and the rank it's given - based on the ammount of occurances it has. Moreover, the distribution follows a linear path on a log-log graph.</p>
    <p>
        @Html.ActionLink("Want to learn more?", "About","Home", null, new {@class="btn btn-link pull-right"})
    </p>
</div>

<div class="row">
   
    <div class="col-md-4">
        <h2>Analyze everything you like!</h2>
        <p>
            Would you like to find out what are the most used words in a certain book, movie, song, document or even your own text documents?
            We offer users to upload files and check the word frequency and ranking!

        </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <canvas id="lineChart" height=400px width="400px"></canvas>
    </div>      
</div>

<script>
    var ctx = document.getElementById("lineChart");
    var myChart = new Chart(ctx,
        {
            type: 'line',
            data: {
                labels: ["the", "of", "and", "to", "in", "a", "was", "is", "that", "he", "for", "as", "it"],
                datasets: [
                    {
                        label: '# of occurances',
                        data: [181076598, 92483221, 82566248, 63523836, 62563726, 58124387, 30532584, 24986607,23806447, 23604704, 21444928, 21138130, 20790111],
                        backgroundColor: 'rgba(0, 99, 132, 0.2)',
                        borderColor: 'rgba(0,99,132,1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: true
                            }
                        }
                    ]
                }
            }
        });
</script>